<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* Navbar Styles */
        /* #25b18e */
  
      </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
    <div class="left-column">
        <h1>nft <strong>Bazaar</strong></h1>
        <ul class="navbar-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
    </div>
    <div class="right-column">
        <a href="/api/v1/nft/created_nfts">My NFTs</a>
        <a href="/api/v1/nft/puchased_nfts">Purchased NFTs</a>
    </div>

      </nav>
</body>
</html>