<!-- login.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: #f1f1f1;
    }

   
  </style>
</head>
<link rel="stylesheet" type="text/css" href="/public/css/style.css">
<body>
  <div class="login-form">
    <h1>Login</h1>
    
    <form method="POST" action="/api/v1/user/login">
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="email" required>
      </div>
      
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      
      <div>
        <input type="submit" value="Login">
      </div>
    </form>
   
    <a class="redirect-register-btn" href="/api/v1/user/register_page">Don't have account ye click here to register</a>
  </div>
</body>
</html>
