<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
</head>
<body>
    <%-include ('../partials/navbar.ejs')-%>
    <div class="home-banner">
        <h1>Welcome to NFT Bazaar</h1>
        <h1>Find Best NFTs on Planet Earth</h1>
        <a class="home-login-btn" href="/api/v1/user/">Login</a>
    </div>
    <div class="banner-second">
        <div class="column-1">
            <img src="/public/publicimages/glasses.jpg" alt="glass">
        </div>
        <div class="column-2">
            <h1>Explore the World of NFTs</h1>

            <div>
                <p>Buy and sell NFTs at good prices with easy payment option</p>
                <div class="sample-checkout-card">
                    <div class="sample-checkout-head">

                    </div>
                    <div class="middle-box">
                        <div class="sample-number">
                            <p>9786453459</p>
                        </div>
                        <div class="sample-number">
                            <p>xyz@gmail.com</p>
                        </div>
                        <div class="sample-payment-options"></div>
                        <div class="sample-payment-btn">
                            <p>Pay Now</p>
                        </div>
                    </div>
                  
                </div>
            </div>

        </div>

    </div>
    
</body>
</html>