
 <style>

    </style>


    <div class="modal">
        <button class="close-btn">X</button>
        <div class="modal-form">
            <form class="nft-form" method="POST" action="/api/v1/nft/create" enctype="multipart/form-data">
                <div class="form-field">
                  <label for="name">Name:</label>
                  <input class="input-fields" type="text" id="name" name="name" required>
                </div>
                <div class="form-field">
                  <label for="description">Description:</label>
                  <textarea id="description" name="description" rows="4" required></textarea>
                </div>
                <div class="form-field">
                  <label for="image">Image File:</label>
                  <input class="input-fields" type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-field">
                  <label for="price">Price:</label>
                  <input class="input-fields" type="number" id="price" name="price" required>
                </div>
                <div class="form-submit">
                  <input class="input-btn" type="submit" value="Submit">
                </div>
              </form>
        </div>
    </div>
<button class="create-btn">Create +</button>


<script>
    const btn=document.querySelector('.create-btn')
    const closeBtn=document.querySelector('.close-btn')
    const modal=document.querySelector('.modal')
    modal.style.display='none'
    const modalShow=()=>{
        if(modal.style.display==='none'){
            modal.style.display='flex'
        }else{
            modal.style.display='none'
        }

    }
    btn.addEventListener('click',modalShow)
    closeBtn.addEventListener('click',modalShow)
     const nftForm=document.querySelector('.nft-form')
     nftForm.addEventListener('submit',(e)=>{
        e.preventDefault()
     })
</script>
